<!-- register.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Регистрация</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Имя пользователя</label>
            {{ form.username }}
        </div>
        
        <div class="mb-3">
            <label for="id_email" class="form-label">Email</label>
            {{ form.email }}
        </div>
        
        <div class="mb-3">
            <label for="id_password1" class="form-label">Пароль</label>
            {{ form.password1 }}
        </div>
        
        <div class="mb-3">
            <label for="id_password2" class="form-label">Подтверждение пароля</label>
            {{ form.password2 }}
        </div>

        <div class="mb-3">
            <label for="id_role" class="form-label">Роль</label>
            {{ form.role }}  <!-- Выводим поле для выбора роли -->
        </div>

        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        <a href="{% url 'users:login' %}">Есть акаунт?</a>
    </form>
</div>
{% endblock %}
